@charset "UTF-8";

.rotated-text {
  transform: rotate(80deg);
  position: relative;
}

.box-anim-image {
  position: relative;
  margin-bottom: 100vh;
}

.box-anim-image img {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.box-anim-image .img-hover {
  display: none;
}

.box-anim-image:hover .img-hover {
  display: block;
}