@charset "UTF-8";

/*
 * <> by Adrià SOUBIAS RABASSA,
 * Libre à vous de vous inspirer de mon code
 * 2023
 */
:root {
  --tonique: #FF4A00;
}

h1, h2 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 800;
}

h2 {}

h3 {}

h4 {}

p {
  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
}

i {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
}

b {
  font-family: 'IBM Plex Sans', monospace;
  font-style: normal;
  font-weight: 800;
}

header {
  border-radius: 0;
  z-index: 1;
}

ul, li {
  font-family: "IBM Plex Sans", Georgia, serif;
  font-style: italic;
  font-weight: 300;
  list-style-type: none;
  margin: 0;
  padding-left: 3px;
}

.justified {
  text-align: justify;
}

.svg-menu, .svg-menu-black {
  fill: var(--bs-black);
  transition: 0.2s;
  margin: 0.5vw;
  cursor: pointer;
}

.svg-menu-black {
  fill: var(--bs-black);
}

.svg-white {
  fill: var(--bs-white);
}

svg:hover {
  fill: var(--tonique)
}

.huge {
  color: var(--bs-black);
  font-family: 'Avara_Black';
  font-size: 47vw;
  cursor: pointer;
  animation: changeTypoHuge infinite 1s;
}

.huge:hover .huge-error:hover {
  color: var(--tonique);
}

.huge-error {
  color: var(--tonique);
  font-family: 'Avara_Black';
  font-size: 35vw;
  cursor: pointer;
  animation: changeTypoHuge infinite 1s;
}

@keyframes changeTypoHuge {
  0% {
    font-family: 'Avara_Black';
  }

  33% {
    font-family: 'Avara_Bold';
  }

  66% {
    font-family: 'Avara_Bold Italic';
  }
}

.menu {
  font-size: calc(1.375rem + 6.5vw);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

a:hover {
  color: var(--tonique);
}

.thumbnail {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  filter: none;
  background-size: cover;
  height: 75vh;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 5vh;
}

.thumbnail:hover {
  filter: grayscale();
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif
  background-image: url('empty.gif');*/
}

/* OVERLAY MENU ZONE*/
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 2000;
  /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: left;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  color: var(--bs-white);
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: var(--tonique);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
}

.overlay .closebtn {
  top: 15px;
  right: 35px;
}
}

/*END OF OVERLAY MENU ZONE*/