* {
  box-sizing: border-box
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

nav ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after {
  content: '';
  content: none
}

q:before, q:after {
  content: '';
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0
}

input, select {
  vertical-align: middle
}

a:link {
  text-decoration: none
}

li {
  list-style-type: none
}

[role="button"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

input[type="submit"], input[type="reset"], input[type="button"] {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  outline: none
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0
}

img {
  float: left;
  width: 100%;
  height: auto
}

:root, .__normal-mode {
  --color-principale-0: 255, 255, 255;
  --color-principale-10: 211, 226, 222;
  --color-principale-20: 167, 197, 189;
  --color-principale-30: 122, 167, 155;
  --color-principale-40: 78, 138, 122;
  --color-principale-50: 34, 109, 89;
  --color-principale-60: 27, 87, 71;
  --color-principale-70: 20, 65, 53;
  --color-principale-80: 14, 44, 36;
  --color-principale-90: 7, 22, 18;
  --color-principale-100: 0, 0, 0;
  --color-secondaire-0: 255, 255, 255;
  --color-secondaire-10: 255, 252, 252;
  --color-secondaire-20: 254, 249, 249;
  --color-secondaire-30: 254, 247, 245;
  --color-secondaire-40: 253, 244, 242;
  --color-secondaire-50: 253, 241, 239;
  --color-secondaire-60: 202, 193, 191;
  --color-secondaire-70: 152, 145, 143;
  --color-secondaire-80: 101, 96, 96;
  --color-secondaire-90: 51, 48, 48;
  --color-secondaire-100: 0, 0, 0;
  --color-accent-0: 255, 255, 255;
  --color-accent-10: 251, 218, 218;
  --color-accent-20: 247, 180, 181;
  --color-accent-30: 244, 143, 144;
  --color-accent-40: 240, 105, 107;
  --color-accent-50: 236, 68, 70;
  --color-accent-60: 189, 54, 56;
  --color-accent-70: 142, 41, 42;
  --color-accent-80: 94, 27, 28;
  --color-accent-90: 47, 14, 14;
  --color-accent-100: 0, 0, 0;
  --color-back-0: 255, 255, 255;
  --color-back-10: 206, 208, 208;
  --color-back-20: 157, 162, 160;
  --color-back-30: 107, 115, 113;
  --color-back-40: 58, 69, 65;
  --color-back-50: 9, 22, 18;
  --color-back-60: 7, 18, 14;
  --color-back-70: 5, 13, 11;
  --color-back-80: 4, 9, 7;
  --color-back-90: 2, 4, 4;
  --color-back-100: 0, 0, 0
}

::selection {
  background-color: rgba(253, 241, 239, 0.99) !important;
  color: #ec4446 !important
}

body {
  background: #091612
}

main {
  min-height: 50vh
}

svg {
  fill: #226d59
}

.is--bottom {
  position: absolute;
  float: left;
  bottom: 0;
  left: 0;
  width: 100%
}

::-webkit-scrollbar {
  width: 16px
}

::-webkit-scrollbar-track {
  background: #091612
}

::-webkit-scrollbar-thumb {
  background: #226d59;
  border-radius: 10px;
  height: 80px;
  border: 4px solid #091612
}

::-webkit-scrollbar-thumb:hover {
  background: #226d59
}

#nav__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 28px;
  height: 14px;
  z-index: 1000;
  cursor: pointer
}

#nav__controls span {
  height: 2px;
  width: 100%;
  background: #226d59;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

#nav__controls.is--active #mobile_control_1 {
  transform: translateY(10px) rotate(135deg)
}

#nav__controls.is--active #mobile_control_2 {
  transform: translateY(5px) rotate(-30deg);
  opacity: 0
}

#nav__controls.is--active #mobile_control_3 {
  transform: translateY(-1px) rotate(-135deg)
}

#nav__controls:hover #mobile_control_1 {
  transform: translateY(2px)
}

#nav__controls:hover #mobile_control_2 {
  transform: translateY(-2px);
  opacity: 0
}

#nav__controls:hover #mobile_control_3 {
  transform: translateY(-2px)
}

.l-header__nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 0;
  padding-top: 84px;
  background: #fdf1ef;
  z-index: 200;
  box-shadow: 0 2.8px 2.2px rgba(34, 109, 89, 0.034), 0 6.7px 5.3px rgba(34, 109, 89, 0.048), 0 12.5px 10px rgba(34, 109, 89, 0.06), 0 22.3px 17.9px rgba(34, 109, 89, 0.072), 0 41.8px 33.4px rgba(34, 109, 89, 0.086), 0 100px 80px rgba(34, 109, 89, 0.12)
}

.l-header__nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(9, 22, 18, 0.66);
  z-index: 200
}

.l-header__nav li {
  float: left;
  width: 100%;
  padding: 0 28px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease
}

.l-header__nav li a:link, .l-header__nav li a:visited {
  display: block;
  float: left;
  width: 100%;
  padding: 28px 0;
  border-bottom: 1px solid #ec4446;
  color: #ec4446;
  font-weight: 300;
  font-style: italic;
  opacity: 0.8
}

.l-header__nav li:hover {
  background: #fef9f8;
  box-shadow: 0 2.8px 2.2px rgba(236, 68, 70, 0.034), 0 6.7px 5.3px rgba(236, 68, 70, 0.048), 0 12.5px 10px rgba(236, 68, 70, 0.06), 0 22.3px 17.9px rgba(236, 68, 70, 0.072), 0 41.8px 33.4px rgba(236, 68, 70, 0.086), 0 100px 80px rgba(236, 68, 70, 0.12);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease
}

.l-header__nav li:hover a {
  opacity: 1;
  text-decoration: none;
  font-style: normal
}

.l-header__nav p {
  color: #ec4446
}

.l-header__nav-text {
  margin-top: auto;
  padding: 28px
}

* {
  font-family: "neue-haas-grotesk-display", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #226d59;
  font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1, h2, h3, h4, h5, h6 {
  font-size: 28px;
  line-height: 42px
}

p a:link, p a:visited {
  font-weight: 200;
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
  box-shadow: 0 1px 0 0 rgba(92, 204, 174, 0);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s
}

p a:hover {
  padding-bottom: 3px;
  opacity: 1;
  box-shadow: 0 1px 0 0 rgba(92, 204, 174, 0.2);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s
}

.liste__de__lien a:nth-last-of-type(n+3)::after {
  content: ', '
}

.liste__de__lien a:last-of-type::before {
  content: ' & '
}

.liste__de__lien a:first-of-type::before {
  content: ''
}

strong {
  font-weight: 800
}

em {
  font-style: italic
}

.display3, .display3 * {
  font-family: "warnock-pro-display", georgia, serif;
  font-size: 84px;
  line-height: 84px
}

.display2, .display2 * {
  font-family: "warnock-pro-display", georgia, serif;
  font-size: 56px;
  line-height: 56px
}

.display1, .display1 * {
  font-family: "warnock-pro-display", georgia, serif;
  font-size: 42px;
  line-height: 56px
}

.subheading, .subheading * {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px
}

.lead_paragraph, .lead_paragraph * {
  font-size: 28px;
  line-height: 35px
}

.body, .body * {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 21px
}

.caption, .caption * {
  font-size: 10.5px;
  letter-spacing: 1px;
  line-height: 10.5px
}

.divider {
  width: 2px;
  height: 56px;
  margin: 14px auto;
  background: #1c5a49
}

.divider-h {
  width: 56px;
  height: 2px;
  margin: 14px auto;
  background: #226d59
}

.message__container {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 14px;
  border-top: 1px solid #091612;
  background: #102821;
  overflow: hidden;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.message__container.is--open {
  display: block
}

.message__container:hover {
  background: #001f15;
  padding: 21px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.message__container:hover .message__close {
  width: 168px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.message {
  position: relative;
  float: left;
  width: 100vw
}

.message span {
  padding: 0 14px;
  color: #3abb98;
  border-right: 1px solid #226d59
}

.message__close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 84px;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 14px;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(9, 22, 18, 0) 0%, #091612 70%);
  z-index: 100;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.message__close svg {
  width: 14px;
  height: 14px
}

.tooltip--hover {
  position: relative
}

.tooltip--hover:hover .tooltip {
  visibility: initial;
  top: 35px;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.tooltip {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  padding: 14px 21px;
  border-radius: 28px;
  background: #091612;
  border: 2px solid #226d59;
  top: 28px;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  z-index: 500;
  box-shadow: 0 2.8px 2.2px rgba(9, 22, 18, 0.034), 0 6.7px 5.3px rgba(9, 22, 18, 0.048), 0 12.5px 10px rgba(9, 22, 18, 0.06), 0 22.3px 17.9px rgba(9, 22, 18, 0.072), 0 41.8px 33.4px rgba(9, 22, 18, 0.086), 0 100px 80px rgba(9, 22, 18, 0.12);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.tooltip__content {
  color: #5cccae;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 21px;
  white-space: nowrap
}

.tooltip:before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 7px;
  top: -4px;
  left: 50%;
  background-size: cover;
  transform: translate(-50%, -50%);
  background-image: url(./assets/img/tooltip_arrow.svg)
}

.tooltip_top-right {
  left: -14px
}

.tooltip_top-right:before {
  right: 14px;
  left: auto
}

.btn {
  display: inline-block;
  margin-top: 42px;
  padding: 14px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 42px;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 0.938em 2.188em rgba(9, 22, 18, 0.1), 0 0.313em 0.938em rgba(9, 22, 18, 0.07);
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s
}

.btn:hover {
  border-radius: 7px;
  color: #2e9479;
  text-decoration: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s
}

.btn--plain {
  background: #091612;
  color: #226d59;
  border: 1px solid #226d59
}

.btn--outline {
  background: none;
  color: #226d59;
  border: 1px solid #226d59
}

.cover {
  background: white
}

.cover h1, .cover p {
  color: white
}

.cover p {
  padding: 5px 0 0 0
}

.cover .col {
  height: 100vh;
  background: #164639
}

.btn__scroll-cover {
  position: fixed;
  width: 30px;
  left: 50%;
  bottom: 8%;
  padding: 5px;
  cursor: pointer;
  z-index: 10
}

.cover__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  z-index: -1
}

.cover__ico svg {
  height: 21px;
  fill: white
}

.m-badge {
  margin-left: 7px;
  background: rgb(var(--color-principale-50));
  color: rgb(var(--color-principale-10));
  padding: 4.66667px 7px;
  border-radius: 14px
}

.element_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center
}

.image-full {
  position: relative;
  width: 100%
}

.image-full .image-full__content {
  position: relative
}

.image-full__ratio-1-1 {
  position: relative;
  width: 100%;
  padding-top: 100%
}

.image-full__ratio-1-2 {
  position: relative;
  width: 100%;
  padding-top: 50%
}

.image-full__ratio-2-3 {
  position: relative;
  width: 100%;
  padding-top: 66.66%
}

.image-full__ratio-5-4 {
  position: relative;
  width: 100%;
  padding-top: 80%
}

.image-full__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden
}

.image-full__content img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.fullscreen {
  position: relative;
  height: 100vh
}

.row {
  float: left;
  width: 100%
}

.big-marge {
  padding: 84px 56px
}

.col {
  float: left;
  padding: 14px
}

@media screen and (min-width: 0px) {
  .xxs1 {
    width: 8.33333%
  }

  .xxs2 {
    width: 16.66667%
  }

  .xxs3 {
    width: 25%
  }

  .xxs4 {
    width: 33.33333%
  }

  .xxs5 {
    width: 41.66667%
  }

  .xxs6 {
    width: 50%
  }

  .xxs7 {
    width: 58.33333%
  }

  .xxs8 {
    width: 66.66667%
  }

  .xxs9 {
    width: 75%
  }

  .xxs10 {
    width: 83.33333%
  }

  .xxs11 {
    width: 91.66667%
  }

  .xxs12 {
    width: 100%
  }
}

@media screen and (min-width: 500px) {
  .xs1 {
    width: 8.33333%
  }

  .xs2 {
    width: 16.66667%
  }

  .xs3 {
    width: 25%
  }

  .xs4 {
    width: 33.33333%
  }

  .xs5 {
    width: 41.66667%
  }

  .xs6 {
    width: 50%
  }

  .xs7 {
    width: 58.33333%
  }

  .xs8 {
    width: 66.66667%
  }

  .xs9 {
    width: 75%
  }

  .xs10 {
    width: 83.33333%
  }

  .xs11 {
    width: 91.66667%
  }

  .xs12 {
    width: 100%
  }
}

@media screen and (min-width: 768px) {
  .s1 {
    width: 8.33333%
  }

  .s2 {
    width: 16.66667%
  }

  .s3 {
    width: 25%
  }

  .s4 {
    width: 33.33333%
  }

  .s5 {
    width: 41.66667%
  }

  .s6 {
    width: 50%
  }

  .s7 {
    width: 58.33333%
  }

  .s8 {
    width: 66.66667%
  }

  .s9 {
    width: 75%
  }

  .s10 {
    width: 83.33333%
  }

  .s11 {
    width: 91.66667%
  }

  .s12 {
    width: 100%
  }
}

@media screen and (min-width: 900px) {
  .m1 {
    width: 8.33333%
  }

  .m2 {
    width: 16.66667%
  }

  .m3 {
    width: 25%
  }

  .m4 {
    width: 33.33333%
  }

  .m5 {
    width: 41.66667%
  }

  .m6 {
    width: 50%
  }

  .m7 {
    width: 58.33333%
  }

  .m8 {
    width: 66.66667%
  }

  .m9 {
    width: 75%
  }

  .m10 {
    width: 83.33333%
  }

  .m11 {
    width: 91.66667%
  }

  .m12 {
    width: 100%
  }
}

@media screen and (min-width: 1024px) {
  .l1 {
    width: 8.33333%
  }

  .l2 {
    width: 16.66667%
  }

  .l3 {
    width: 25%
  }

  .l4 {
    width: 33.33333%
  }

  .l5 {
    width: 41.66667%
  }

  .l6 {
    width: 50%
  }

  .l7 {
    width: 58.33333%
  }

  .l8 {
    width: 66.66667%
  }

  .l9 {
    width: 75%
  }

  .l10 {
    width: 83.33333%
  }

  .l11 {
    width: 91.66667%
  }

  .l12 {
    width: 100%
  }
}

@media screen and (min-width: 1280px) {
  .xl1 {
    width: 8.33333%
  }

  .xl2 {
    width: 16.66667%
  }

  .xl3 {
    width: 25%
  }

  .xl4 {
    width: 33.33333%
  }

  .xl5 {
    width: 41.66667%
  }

  .xl6 {
    width: 50%
  }

  .xl7 {
    width: 58.33333%
  }

  .xl8 {
    width: 66.66667%
  }

  .xl9 {
    width: 75%
  }

  .xl10 {
    width: 83.33333%
  }

  .xl11 {
    width: 91.66667%
  }

  .xl12 {
    width: 100%
  }
}

@media screen and (min-width: 1440px) {
  .xxl1 {
    width: 8.33333%
  }

  .xxl2 {
    width: 16.66667%
  }

  .xxl3 {
    width: 25%
  }

  .xxl4 {
    width: 33.33333%
  }

  .xxl5 {
    width: 41.66667%
  }

  .xxl6 {
    width: 50%
  }

  .xxl7 {
    width: 58.33333%
  }

  .xxl8 {
    width: 66.66667%
  }

  .xxl9 {
    width: 75%
  }

  .xxl10 {
    width: 83.33333%
  }

  .xxl11 {
    width: 91.66667%
  }

  .xxl12 {
    width: 100%
  }
}

.menu {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  border-radius: 4.66667px;
  background: #183a30;
  z-index: 1500
}

.menu li {
  display: list-item;
  min-width: 140px
}

.menu li:nth-child(n+2) {
  border-top: 1px solid #091612
}

.menu a:link, .menu a:visited {
  display: block;
  color: #3abb98;
  padding: 14px 21px
}

.menu a:hover {
  color: #091612;
  background: #3abb98;
  text-decoration: none
}

.btn__menu {
  cursor: pointer
}

.single-oripeau__gallery .view__bg-fixed:first-of-type {
  min-height: 200vh
}

.view__bg-fixed {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-size: auto 66%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center
}

.view__bg-text {
  position: absolute;
  top: 40vh;
  padding: 90px
}

.view__bg-text .headline {
  color: rgb(var(--color-principale-40))
}

.view__bg-text .date {
  color: rgb(var(--color-principale-60))
}

.is--underline--effect a:link, .is--underline--effect a:visited {
  background-image: linear-gradient(90deg, rgb(var(--color-principale-80)), rgb(var(--color-principale-40)));
  background-size: 0 1px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-size 0.2s cubic-bezier(0.45, 0.34, 0.65, 0.96)
}

.is--underline--effect a:hover, .is--underline--effect a:focus {
  background-size: 100% 1px;
  background-position: 0 100%
}

.is--denko {
  display: block;
  float: left;
  width: max-content;
  animation: denkokeijiban 3000s linear infinite alternate
}

@keyframes denkokeijiban {
  from {
    transform: translate(0%)
  }

  to {
    transform: translate(-90%)
  }
}

.is--not--hover li {
  transition: opacity 0.5s
}

.not--hover {
  opacity: 0.4
}

.is--fullsize {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0
}

.is--noisy::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5000;
  opacity: .2;
  background: url(./assets/img/back__is--noisy.png);
  animation: is--noisy 1s steps(10) infinite;
  pointer-events: none
}

@keyframes is--noisy {
  from {
    background-position: 0 0
  }

  to {
    background-position: 70px 280px
  }
}

.smm__contrie {
  display: inline-block
}

.smm__contrie_content {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 66.66%
}

.single-oripeau__header {
  position: absolute;
  height: 100vh;
  background: url("./assets/img/bg__cover.png");
  border-bottom: 1px solid #226d59;
  background-attachment: fixed
}

.single-oripeau__image.view__bg-fixed {
  background-repeat: repeat
}

.l-contributors {
  text-align: center
}

.l-contributors h1 {
  color: #1c5a49
}

.l-contributors__fewWord {
  width: 50%;
  margin: 28px auto
}

.l-contributors__list {
  width: 80%;
  margin: 0 auto
}

.l-contributors__list a {
  font-family: 'warnock-pro-display', georgia, serif
}

.l-contributors__number {
  color: #34a789
}

.l-contributors__title {
  margin: 10px 0
}

.l-gallery__image {
  position: relative;
  float: left;
  width: 20%;
  padding: 1px
}

.l-gallery__image.is--bigger {
  width: 40%
}

.l-gallery-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: url("./assets/img/bg__cover.png");
  background-attachment: fixed;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s
}

.l-gallery__image:hover .l-gallery-overlay {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s
}

.thumbnail__content {
  background: #0e2720;
  background: linear-gradient(0deg, #0e2720, #13392e);
  background-size: 400% 400%;
  animation: AnimationName 0.5s ease infinite
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.nav__show-me-more {
  background: #164639;
  color: white
}

.nav__smm-link {
  position: relative;
  float: left;
  width: 25%;
  padding-bottom: 33.333vw;
  background: #164639
}

.nav__smm-link a {
  text-decoration: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0
}

.nav__smm-link p, .nav__smm-link a {
  color: #34a789
}

.nav__smm-link .nav__smm-thumb-center {
  width: 100%;
  position: absolute;
  top: 33%;
  filter: grayscale(100%) brightness(30%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s
}

.nav__smm-title, .nav__smm-legende {
  float: left;
  width: 100%;
  padding: 30px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s
}

.nav__smm-legende {
  position: absolute;
  bottom: 0
}

.nav__smm-prev:hover figure, .nav__smm-next:hover figure {
  filter: grayscale(100%) brightness(30%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s
}

.nav__smm-prev:hover .nav__smm-title, .nav__smm-prev:hover .nav__smm-legende, .nav__smm-next:hover .nav__smm-title, .nav__smm-next:hover .nav__smm-legende {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s
}

.nav__smm-prev figure {
  left: -50%
}

.nav__smm-next figure {
  right: -50%
}

.nav__smm-title-rand {
  position: absolute;
  width: 100%;
  top: 33%;
  text-align: center;
  z-index: 100
}

.nav__smm-random {
  width: calc(50% - 2px);
  margin: 0 1px;
  background: url("./assets/img/bg__rand.gif")
}

.nav__smm-random figure {
  padding-bottom: 100%;
  -webkit-filter: brightness(10%);
  filter: brightness(10%);
  opacity: 1;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all
}

.nav__smm-random svg {
  width: 40px;
  margin: 40px calc(50% - 20px);
  fill: #091612
}

.nav__smm-random:hover figure {
  opacity: 0;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all
}

.nav__smm-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden
}

.l-footer {
  min-height: 50vh;
  background: #050b09;
  z-index: 50
}

.l-footer a {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s
}

.l-footer:hover {
  color: #3abb98 !important;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s
}

.l-footer strong {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #122c24
}

.l-footer__light {
  color: #122c24
}

.l-footer-container {
  display: flex;
  justify-content: space-around
}

.l-footer-container>div {
  width: 25%;
  padding-right: 14px
}

.l-footer-container>div:first-of-type {
  width: 50%
}

.l-footer__menu-item {
  width: 100%;
  float: left
}

.l-footer__menu-item a {
  display: block;
  padding: 7px 0
}

.l-footer__menu-item.is--not--hover a {
  color: #1a5243
}

.l-header {
  display: flex;
  position: fixed;
  padding: 42px;
  border-bottom: 1px solid rgba(9, 22, 18, 0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 200
}

.l-header svg {
  fill: #226d59
}

.l-header.is--not--top {
  padding: 21px 28px;
  border-bottom: 1px solid #091612;
  background: rgba(16, 40, 33, 0.98);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.l-header.is--not--top .toolbar__title {
  width: auto;
  margin: 0 14px
}

.l-header__logo svg {
  height: 14px
}

.l-header__logo a {
  margin-left: 42px
}

.l-header__logo a:hover {
  text-decoration: none
}

.l-header__nav-toolbar {
  margin: 0 7px 0 auto
}

.toolbar__element {
  display: inline-block;
  float: left;
  height: 14px;
  margin: 0 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.toolbar__element:hover .toolbar__title {
  color: #3abb98;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.toolbar__element:hover .toolbar__ico svg {
  fill: #226d59;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.toolbar__element.is--not--hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.toolbar__title {
  display: inline-block;
  width: 0px;
  font-family: 'termina', sans-serif;
  font-weight: 500;
  font-style: normal;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.toolbar__ico {
  float: left;
  margin-top: -2px
}

.toolbar__ico svg {
  width: 21px;
  height: 21px;
  fill: #184e40;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.l-header__nav-langue {
  position: relative;
  padding-left: 14px;
  border-left: 1px solid #091612
}

.nav__button {
  position: relative
}

.l-error {
  background: white
}

.l-error h1, .l-error p, .l-error p a:link, .l-error p a:visited {
  color: #226d59 !important
}

.list__table {
  width: 100%;
  color: #226d59;
  table-layout: fixed
}

.list__table th {
  position: sticky;
  top: 56px;
  text-align: left;
  font-weight: 400;
  border-bottom: 1px solid rgba(34, 109, 89, 0.1);
  cursor: pointer;
  background: #091612;
  padding: 14px
}

.list__table th:last-of-type {
  text-align: right
}

.list__table td {
  padding: 21px 14px;
  overflow: hidden;
  white-space: nowrap
}

.list__table tr td:first-of-type {
  padding: 7px 7px 7px 14px
}

.list__table tr td:last-of-type {
  padding: 7px 14px 7px 7px;
  text-align: right
}

.list__table tr {
  cursor: pointer
}

.list__row {
  border-bottom: 1px solid rgba(34, 109, 89, 0.1);
  background: #091612;
  -webkit-transition: background 3s;
  -moz-transition: background 3s;
  -ms-transition: background 3s;
  -o-transition: background 3s;
  transition: background 3s
}

.list__row:hover {
  background: #183a30;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -ms-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s
}

.list__number {
  width: 8.33%
}

.list__country {
  width: 8.33%
}

.list__date {
  width: 16.66%
}

.list__contributor {
  width: 16.66%
}

.list__title {
  width: 33.33%
}

.list__location {
  width: 16.66%
}

#earth_div {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute !important;
  background: #226d59
}

.cesium-credit-textContainer {
  color: #226d59;
  text-shadow: none
}

.map__container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  padding: 0;
  margin: 0
}

canvas {
  opacity: 0.3
}

.l-log {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #091612;
  z-index: 100
}

.l-log .is--bottom {
  bottom: 30px;
  left: 40px
}

.log__txt, .log__container {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  z-index: 10
}

.log__txt h1, .log__container h1 {
  color: #ec4446;
  margin-bottom: 42px
}

.log__txt {
  padding: 42px
}

.log__txt h1 {
  color: #226d59
}

.center {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 66vh;
  height: 66vh;
  border-radius: 50vh;
  background: #226d59;
  transform: translate(-50%, -50%);
  animation: circle 20s infinite ease-in-out
}

.log__container {
  padding: 112px 14px 14px 14px;
  background: #fdf1ef;
  overflow-x: auto
}

.log__entrie {
  float: left;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ec4446;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s
}

.log__entrie:hover {
  background: #fff;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s
}

.log__entrie span {
  display: block;
  font-family: 'IBM Plex Mono', serif;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ec4446
}

.log__date {
  float: left;
  width: 100px;
  border-right: 1px solid #ec4446
}

.log__text {
  float: right;
  width: calc(100% - 110px)
}

@keyframes circle {
  0% {
    width: 66vh;
    height: 66vh;
    opacity: 0.3
  }

  66% {
    width: 120vh;
    height: 120vh;
    opacity: 0.05
  }

  100% {
    width: 66vh;
    height: 66vh;
    opacity: 0.3
  }
}

@media (max-width: 1200px) {
  .l-footer-container>div:first-of-type {
    width: 25%
  }
}

@media (max-width: 992px) {
  .l-contributors__fewWord, .l-contributors__list, .l-footer {
    float: left;
    width: 100%;
    height: auto;
    display: block
  }

  .l-header, .l-header.is--not--top {
    padding: 14px
  }

  .l-header__nav-container {
    width: 66%
  }

  .l-footer-container {
    flex-direction: column
  }

  .l-footer-container>div {
    border-bottom: 1px solid #103329;
    width: 100% !important;
    margin-top: 21px;
    padding-bottom: 14px
  }

  .l-footer-container>div:last-of-type {
    margin-bottom: 21px
  }
}

@media (max-width: 768px) {
  .l-header__nav-container {
    float: left;
    width: 100%
  }

  .toolbar__title {
    display: none
  }

  .l-contributors {
    text-align: left
  }

  .l-contributors * {
    overflow: hidden
  }

  .view__bg-fixed {
    background-size: contain
  }

  .l-gallery__image {
    width: 50%
  }

  .l-gallery__image.is--bigger {
    width: 100%
  }
}

@media (max-width: 576px) {
  .msg__smartphone.is--open {
    display: block;
    float: left;
    width: 100%;
    height: auto
  }

  .map__container, .nav__smm-prev, .nav__smm-next {
    display: none
  }

  .l-header {
    padding: 42px 14px
  }

  .l-header.is--not--top {
    padding: 21px 14px
  }

  .l-header__nav-container {
    right: 0
  }

  .l-header__nav-toolbar {
    margin-right: 0
  }

  .nav__smm-random {
    width: 100%;
    padding-bottom: 50vh
  }

  .big-marge {
    padding: 21px 14px
  }

  .l-log {
    position: relative
  }

  .log__txt, .log__container {
    width: 100%
  }

  .center {
    left: 0
  }

  .l6, .l12 {
    width: 100% !important;
    float: left
  }

  .view__bg-text {
    padding: 14px
  }
}

@media (min-width: 1200px) {
  display: block
}

@media (max-height: 800px) {
  .l-header__nav-container {
    height: auto;
    overflow: auto
  }

  .l-header__nav-container .is--bottom {
    padding: 42px 7px;
    position: relative
  }
}