@font-face {
  font-family: 'Avara Italic';
  src: url('../font/avara/bolditalic/Avara-Bold_Italic.eot');
  src: url('../font/avara/bolditalic/Avara-Bold_Italic.eot?#iefix') format('embedded-opentype'),
    url('../font/avara/bolditalic/Avara-BoldItalic.woff') format('woff'),
    url('../font/avara/bolditalic/Avara-BoldItalic.woff2') format('woff2'),
    url('../font/avara/bolditalic/Avara-BoldItalic.ttf') format('truetype'),
    url('../font/avara/bolditalic/Avara-BoldItalic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

.parallax {
  /* The image used */
  background-image: url("../img/mer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Set a specific height */
  min-height: 2160px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animated {
  animation: 3s linear 1s infinite running slidein;
}

a, a:visited, a:active {
  color: #000000;
  fill: #000000;
  text-decoration: none;
}

a:hover {
  fill: #737373;
  color: #737373;
}